@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(128, 128, 128, 0.477);
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
